#root{
    --white: #FFFFFF;
    --purple: #D0D6F9;
    --dark: #0B0D17;
    --fontBelle: 'Bellefair', serif;
    --fontBarlowC: 'Barlow Condensed', sans-serif; 
    --fontBarlow: 'Barlow', sans-serif;
}
.destination {
    background: url(../../assets/destination/background-destination-desktop.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.destination .destinationInfo{
    /* border: 1px solid red; */
    position: absolute;
    top: 300px;
    left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--white);
    max-width: 1000px;
}

.destination .destinationInfo img{
    animation: test 5s infinite;
}

.destination .destinationInfo aside{
    margin: 0px 35px;
}

.destination .destinationBtn{
    font-family: var(--fontBarlowC);
    text-transform: uppercase;
    letter-spacing: 3px;
    background: none;
    border: none;
    color:var(--purple);
    font-size: 16px;
    margin-right: 30px;
    padding: 10px 0px;
    position: relative;;
}

.destination .destinationBtn::after{
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0;
    background-color: #979797;
    transition: width 0.3s ease-in-out;
}

.destination .destinationBtn:hover::after{
    width: 100%;
}

.destination .destinationBtn.active{
    /* font-weight: bold; */
    color: var(--white);
}

.destination .destinationBtn.active::after{
    width: 100%;
    background-color: var(--white);
}

.destination .destinationTitle{
    color: var(--white);
    font-family: var(--fontBelle);
    font-size: 100px;
    margin: 0;
    text-transform: uppercase;
    font-weight: lighter;
}

.destination .destinationDescription{
    color: var(--purple);
    font-family: var(--fontBarlow);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.destination hr{
    border: 0.1px solid #979797b4
}

.destination footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.destination footer h2{
    text-transform: uppercase;
    color: var(--purple);
    font-family: var(--fontBarlowC);
    font-weight: 500;
    font-size: 14px;
}

.destination footer h3{
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--fontBelle);
    font-size: 28px;
}

@media(max-width:1000px){
    .destination {
        background: url(../../assets/destination/background-destination-tablet.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }


    .destination .destinationInfo{
        grid-template-columns: 1fr;
        left: 0;
        width: 100%;
        top: 220px;
        justify-items: center;
        
    }

    .destination .destinationInfo img{
        width: 300px;
        animation: test2 5s infinite
    }

    .destination .destinationNav{
        display: flex;
        justify-content: center;
        margin: 50px 0px;
    }

    .destination .destinationTitle{
        display: flex;
        justify-content: center;
    }
    
    .destination .destinationTitle{
        font-size: 80px;
    }

    .destination .destinationDescription {
        width: 600px;
        text-align: center;
        font-size: 16px;
    }

    .destination footer{
        justify-items: center;
    }

}

@media(max-width:500px){
    .destination {
        background: url(../../assets/destination/background-destination-mobile.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 150vh;
        /* height: fit-content; */
    }

    .destination .destinationInfo {
        top: 150px;
    }


    .destination .destinationInfo img{
        width: 170px;
    }

    .destination .destinationBtn{
        font-size: 14px;
    }

    .destination .destinationNav{
        margin: 50px 0px 10px
    }

    .destination .destinationTitle {
        font-size: 56px;
    }

    .destination .destinationDescription {
        width: auto;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .destination footer{
        grid-template-columns: 1fr;
    }

    .destination footer h2{
        text-align: center;
    }

    .destination footer h3{
        font-size: 28px;
        margin: 0;
    }
}

@keyframes test {
    from {
        transform:translateY(0) 
    }

    50% {
        transform:translateY(2em) 
    } 

    to {
        transform:translateY(0) 
    }
}

@keyframes test2 {
    from {
        transform:translateY(0) 
    }

    50% {
        transform:translateY(1em) 
    } 

    to {
        transform:translateY(0) 
    }
}