#root{
    --white: #FFFFFF;
    --purple: #D0D6F9;
    --dark: #0B0D17;
    --fontBelle: 'Bellefair', serif;
    --fontBarlowC: 'Barlow Condensed', sans-serif; 
    --fontBarlow: 'Barlow', sans-serif;
}

.home{
    background: url(../../assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.home .homeWrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 160px 0px;
    align-items: end;
    justify-items: center;

}

.home .homeInfo{
    bottom: 160px;
    left: 160px;
    width: 450px;
}

.home .homeInfo p:nth-child(1) {
    color: var(--purple);
    font-family: var(--fontBarlowC);
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.homeTitle{
    color: var(--white);
    font-family: var(--fontBelle);
    font-size: 150px;
    margin: 0;
    text-transform: uppercase;
}

.home .homeInfo p:nth-child(3) {
    color: var(--purple);
    font-family: var(--fontBarlow);
    font-size: 18px;
    line-height: 1.5;
}

.home .exploreButton{
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    color: var(--dark);
    display: flex;
    font-family: var(--fontBelle);
    font-size: 32px;
    height: 280px;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 280px;
}

.exploreButton::after{
    content: "";
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    transition: all 0.4s linear;
}

.exploreButton:hover::after{
    background: rgba(253, 253, 253, 0.1);

}

@media(max-width:1000px) {
    .home{
        background: url(../../assets/home/background-home-tablet.jpg) no-repeat;
        background-position:center ;
        background-size: cover;
    }
    
    .home .homeWrapper{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        top: 100px;
        margin: 0px;
        align-items: start;
    }

}

@media(max-width:500px){

    .home .homeInfo {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .homeInfo p:nth-child(1) {
        font-size: 16px;
    }
    
    .homeTitle{
        font-size: 80px;
    }
    
    .home .homeInfo p:nth-child(3) {
        font-size: 15px;
        max-width: 300px;
        text-align: center;
    }

    .home .exploreButton{
        font-size: 20px;
        height: 150px;
        width: 150px;
    }
    
    .exploreButton::after{
        content: "";
        height: 0px;
        width: 0px;
    }

}





