#root{
    --white: #FFFFFF;
    --purple: #D0D6F9;
    --dark: #0B0D17;
    --fontBelle: 'Bellefair', serif;
    --fontBarlowC: 'Barlow Condensed', sans-serif; 
    --fontBarlow: 'Barlow', sans-serif;
}

.technology{
    background: url(../../assets/technology/background-technology-desktop.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
}

.technology .techWrapper{
    display: flex;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 60px;
    margin-left: 160px;
}

.technology .aside{
    display: flex;
}

.technology .techNav{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.technology .techBtn{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: none;
    border-radius: 50%;
    color: var(--white);
    font-size: 32px;
    font-family: var(--fontBelle);
    margin: 20px;
}

.technology .techBtn:hover{
    border: 1px solid rgba(255, 255, 255, 1);
}

.technology .techBtn.active{
    background:  rgba(255, 255, 255, 1);
    color: var(--dark);
}

.technology .techInfo{
    align-self: center;
    margin: 0px 120px 0px 40px;
    max-width: 600px;
}

.technology .techInfo h2{
    color: var(--purple);
    font-family: var(--fontBarlowC);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.technology .techInfo .techName{
    font-size: 56px;
    font-family: var(--fontBelle);
    text-transform: uppercase;
}

.technology .techInfo .techDescription{
    
    font-family: var(--fontBarlow);
    color: var(--purple);
    font-size: 18px;
    line-height: 1.6;
}

@media(max-width:1000px){

    .technology{
        background: url(../../assets/technology/background-technology-tablet.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .technology .techWrapper{
        flex-direction: column-reverse;
        width: 100%;
        bottom: 0px;
        align-items: center;
    }

    .technology .techNav {
    flex-direction: row;
    margin: 30px 0px 0px
    }

    .technology .aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .technology .techBtn{
        width: 58px;
        height: 58px;
        margin: 10px;
        font-size: 24px;
    }

    .technology .techInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .technology .techInfo .techName {
        font-size: 40px;
        margin:0px
    }

    .technology .techDescription{
        text-align: center;
        margin: 20px 60px 80px
    }

    .technology picture{
        width: 100%;
    }

    .technology img{
        width: 100%;
    }
}

@media(max-width:500px){
    .technology{
        background: url(../../assets/technology/background-technology-mobile.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .technology .techWrapper{
        justify-content: flex-end;
        top: 150px;
        height: fit-content;
    }

    .technology .techBtn{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .technology .techInfo h2{
        font-size: 15px;
    }

    .technology .techInfo .techName {
        font-size: 24px;
    }

    .technology .techInfo .techDescription{
        margin: 0px 20px;
        font-size: 15px;
    }

}
