#root{
    --white: #FFFFFF;
    --purple: #D0D6F9;
    --dark: #0B0D17;
    --fontBelle: 'Bellefair', serif;
    --fontBarlowC: 'Barlow Condensed', sans-serif; 
    --fontBarlow: 'Barlow', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:40px;
    left:0px;
    width: 100%;
}
.header .logo{
    margin: 50px;
}

.header .line{
    background-color: #979797;
    width: 350px;
    height: 1px;
}

.header nav{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5px);
    width: 800px;
    min-width: 300px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .liPage{
    margin: 0px 20px;
    font-family: var(--fontBarlowC);
    color: var(--white);
    padding: 38px 0px;
    height: 15px;
    transition: border-bottom 2s;
    position: relative;
    text-decoration: none;
}

.header .liPage::after{
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #979797;
    transition: width 0.3s ease-in-out;
}

.liPage:hover::after {
    width: 100%
}

.header .liPage.active::after{
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
}

.header .liPage span{
    font-weight: 700;
    margin: 0px 8px 0px 0px;
}